# Estatística inferencial

In [1]:
import pandas as pd
from palmerpenguins import load_penguins
from scipy import stats

penguins: pd.DataFrame = load_penguins().dropna().reset_index(drop=True).infer_objects()

penguins.loc[:, penguins.dtypes == object] = penguins.select_dtypes(object).astype("category")

## Amostragem

In [2]:
# Amostragem aleatória simples

penguins.sample(5)

penguins.sample(frac=0.015)

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,year
272,Chinstrap,Dream,51.3,18.2,197.0,3750.0,male,2007
291,Chinstrap,Dream,50.5,18.4,200.0,3400.0,female,2008
6,Adelie,Torgersen,39.2,19.6,195.0,4675.0,male,2007
173,Gentoo,Biscoe,48.2,14.3,210.0,4600.0,female,2007
206,Gentoo,Biscoe,46.2,14.9,221.0,5300.0,male,2008

In [3]:
# Amostragem aleatória estratificada

penguins.groupby("species").apply(lambda df: df.sample(2))

                 species  island  bill_length_mm  bill_depth_mm  \
species
Adelie    50      Adelie  Biscoe            39.0           17.5
          19      Adelie  Biscoe            38.8           17.2
Chinstrap 319  Chinstrap   Dream            42.5           17.3
          320  Chinstrap   Dream            52.2           18.8
Gentoo    217     Gentoo  Biscoe            46.5           14.8
          161     Gentoo  Biscoe            49.3           15.7

               flipper_length_mm  body_mass_g     sex  year
species
Adelie    50               186.0       3550.0  female  2008
          19               180.0       3800.0    male  2007
Chinstrap 319              187.0       3350.0  female  2009
          320              197.0       3450.0    male  2009
Gentoo    217              217.0       5200.0  female  2008
          161              217.0       5850.0    male  2007

## Testes de hipóteses

In [4]:
# Teste t de Student com uma amostra

amostra = stats.norm.rvs(loc=16.808, scale=2.733, size=25)

stats.ttest_1samp(amostra, popmean=18, alternative="less")

Ttest_1sampResult(statistic=-1.8923982123123342, pvalue=0.03528070028416487)

In [5]:
# Teste t de Student com duas amostras independentes

tempos1 = [22.8, 23.4, 26.2, 24.3, 22.0, 24.8, 26.7, 25.1, 23.1, 22.8, 25.6, 25.1, 24.3, 24.2, 22.8, 23.2, 24.7, 26.5, 24.5, 23.6, 23.9, 22.8, 25.4, 26.7, 22.9, 23.5, 23.8, 24.6, 26.3, 22.7]

tempos2 = [26.8, 29.3, 28.4, 25.6, 29.4, 27.2, 27.6, 26.8, 25.4, 28.6, 29.7, 27.2, 27.9, 28.4, 26.0, 26.8, 27.5, 28.5, 27.3, 29.1, 29.2, 25.7, 28.4, 28.6, 27.9, 27.4, 26.7, 26.8, 25.6, 26.1]

stats.ttest_ind(tempos1, tempos2, alternative="two-sided", equal_var=True)

Ttest_indResult(statistic=-9.70841463275532, pvalue=9.185777525386829e-14)

In [6]:
# Teste t de Welch

tempos1 = [22.8, 23.4, 26.2, 24.3, 22.0, 24.8, 26.7, 25.1, 23.1, 22.8, 25.6, 25.1, 24.3, 24.2, 22.8, 23.2, 24.7, 26.5, 24.5, 23.6, 23.9, 22.8, 25.4, 26.7, 22.9, 23.5, 23.8, 24.6, 26.3, 22.7]

tempos2 = [26.8, 29.3, 28.4, 25.6, 29.4, 27.2, 27.6, 26.8, 25.4, 28.6, 29.7, 27.2, 27.9, 28.4, 26.0, 26.8, 27.5, 28.5, 27.3, 29.1, 29.2, 25.7, 28.4, 28.6, 27.9, 27.4, 26.7, 26.8, 25.6, 26.1]

stats.ttest_ind(tempos1, tempos2, alternative="two-sided", equal_var=False)

Ttest_indResult(statistic=-9.70841463275532, pvalue=9.728921191025935e-14)

In [7]:
# Teste de independência qui-quadrado

tabela_contingencia = pd.DataFrame(
    {
        "avaliação baixa": [40, 16, 12],
        "avaliação média": [32, 24, 16],
        "avaliação alta": [24, 32, 4],
    },
    index=["Plano 1", "Plano 2", "Plano 3"],
)

stats.chi2_contingency(tabela_contingencia, correction=False)

(15.860566448801741,
 0.0032120846981537215,
 4,
 array([[32.64, 34.56, 28.8 ],
        [24.48, 25.92, 21.6 ],
        [10.88, 11.52,  9.6 ]]))

In [8]:
tabela_contingencia = pd.DataFrame(
    {
        "avaliação baixa": [40, 16, 12],
        "avaliação média": [32, 24, 16],
        "avaliação alta": [24, 32, 4],
    },
    index=["Plano 1", "Plano 2", "Plano 3"],
)

tabela_contingencia_esperada = stats.contingency.expected_freq(tabela_contingencia)

stats.chisquare(tabela_contingencia, tabela_contingencia_esperada, ddof=4, )

Power_divergenceResult(statistic=array([4.7124183 , 2.07407407, 9.07407407]), pvalue=array([nan, nan, nan]))